<h3>Add Client</h3>

<div>
    <label>Movie Id: </label>
    <input #movieMovieId/>
</div>
<div>
    <label>Movie Title: </label>
    <input #movieTitle/>
</div>
<div>
    <label>Author: </label>
    <input #movieAuthor/> >
</div>
<div>
    <button (click)="goBack()">Back</button>
    <button (click)="save(movieMovieId.value, movieTitle.value, movieAuthor.value)">Save</button>
</div>