<div *ngIf="client">
    <h2>Client {{client.cnp}} details</h2>
    <div>
        <label>CNP: </label> {{client.cnp}}
        <input [(ngModel)]="client.cnp" placeholder="cnp">
    </div>
    <div>
        <label>First Name: </label> {{client.first_name}}
        <input [(ngModel)]="client.firstName" placeholder="firstName">
    </div>
    <div>
        <label>Last Name: </label> {{client.last_name}}
        <input [(ngModel)]="client.lastName" placeholder="lastName">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>>