<h3>Add Client</h3>

<div>
    <label>Cnp: </label>
    <input #clientCnp/>
</div>
<div>
    <label>First Name: </label>
    <input #clientFirstName>
</div>
<div>
    <label>Last Name: </label>
    <input #clientLastName >
</div>
<div>
    <button (click)="goBack()">Back</button>
    <button (click)="save(clientCnp.value, clientFirstName.value, clientLastName.value)">Save</button>
</div>