<div *ngIf="movie">
    <h2>{{movie.title}} details</h2>
    <div>
        <label>Movie ID: </label> {{movie.movie_id}}
        <input [(ngModel)]="movie.movieId" placeholder="movie_id">
    </div>
    <div>
        <label>Title: </label> {{movie.title}}
        <input [(ngModel)]="movie.title" placeholder="title">
    </div>
    <div>
        <label>Author: </label> {{movie.author}}
        <input [(ngModel)]="movie.author" placeholder="author">
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>>